.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow {
	font-size:(21/10)*1rem;
	width:(25/21)*1em;
}
.icon-board {
	font-size:(52/10)*1rem;
	width:(25/52)*1em;
}
.icon-bus {
	font-size:(33/10)*1rem;
	width:(52/33)*1em;
}
.icon-camp {
	font-size:(48/10)*1rem;
	width:(47/48)*1em;
}
.icon-double-arrow {
	font-size:(24/10)*1rem;
	width:(21/24)*1em;
}
.icon-header-map {
	font-size:(496/10)*1rem;
	width:(770/496)*1em;
}
.icon-location {
	font-size:(14/10)*1rem;
	width:(11/14)*1em;
}
.icon-minus {
	font-size:(12/10)*1rem;
	width:(12/12)*1em;
}
.icon-path-1 {
	font-size:(153/10)*1rem;
	width:(366/153)*1em;
}
.icon-path-2 {
	font-size:(236/10)*1rem;
	width:(205/236)*1em;
}
.icon-path-3 {
	font-size:(276/10)*1rem;
	width:(208/276)*1em;
}
.icon-path-4 {
	font-size:(384/10)*1rem;
	width:(287/384)*1em;
}
.icon-plus {
	font-size:(12/10)*1rem;
	width:(12/12)*1em;
}
.icon-point {
	font-size:(94/10)*1rem;
	width:(94/94)*1em;
}
.icon-point-active {
	font-size:(34/10)*1rem;
	width:(25/34)*1em;
}
.icon-search {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-shore {
	font-size:(496/10)*1rem;
	width:(770/496)*1em;
}
.icon-star {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icon-surf {
	font-size:(48/10)*1rem;
	width:(61/48)*1em;
}
.icon-virgin-logo {
	font-size:(300/10)*1rem;
	width:(400/300)*1em;
}
.icon-water {
	font-size:(25/10)*1rem;
	width:(19/25)*1em;
}
.icon-wave {
	font-size:(25/10)*1rem;
	width:(40/25)*1em;
}
.icon-wind {
	font-size:(24/10)*1rem;
	width:(26/24)*1em;
}
