extends ../layout/main

block variables
   - var title = 'go-surf'
      

block content
   include ..//includes/modules/header
   include ..//includes/modules/surf
   include ..//includes/modules/travel
   include ..//includes/modules/sleep
   include ..//includes/modules/shop



